@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  scroll-behavior: smooth;
}

.change-font {
  color: #ee1b7a;
  animation-name: fontChange;
  animation-duration: 2s;
  animation-iteration-count: initial;
}

.card-tag {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
}

.svg-color {
  fill: #b3afaf;
}

.svg-color:hover {
  fill: white;
  transition: fill cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out;
}

.header-div {
  position: sticky !important;
}

@keyframes fontChange {
  20% {
    font-family: "Lobster", sans-serif;
  }
  40% {
    font-family: "Courier", sans-serif;
  }
  60% {
    font-family: "Dancing Script", cursive;
  }
  80% {
    font-family: "Poppins", sans-serif;
  }
  100% {
    font-family: "Caveat", cursive;
  }
}
