@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  scroll-behavior: smooth;
}

.change-font {
  color: #ee1b7a;
  animation: font-play 2s ease-in-out;
}

.card-tag {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px 0 rgba(168, 85, 247, 0.1);
}

.svg-color {
  fill: #b3afaf;
}

.svg-color:hover {
  fill: white;
  transition: fill cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out;
}

.header-div {
  position: sticky !important;
}

.highlight {
  position: relative;
  text-wrap: nowrap;
}

.highlight::after {
  display: flex;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  background-color: rgb(168, 85, 247);
  opacity: 1;
  transition: opacity 300ms, width 300ms;
}

.sticky-div {
  overflow: hidden;
  position: sticky;
  top: 30%;
}

.scroll-content {
  position: absolute;
  top: 0;
  will-change: transform;
  display: flex;
}

.intro {
  animation: play 400ms ease-in-out;
}

@media (width>=1024px) {
  .highlight:hover::after,
  .highlight:focus::after {
    width: 0;
  }
}

@media (width<1024px) {
  .highlight {
    white-space: normal;
    background-image: linear-gradient(
      to bottom,
      transparent 90%,
      rgb(168, 85, 247) 100%
    );
    transition: background-image 300ms ease-in-out;
  }

  .highlight::after {
    background-color: transparent;
  }

  .highlight:hover,
  .highlight:focus {
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(168, 85, 247, 0) 100%
    );
  }
}

@keyframes play {
  0% {
    transform: translate3d(20px, 100px, 10px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes font-play {
  20% {
    font-family: var(--font-lobster);
  }
  40% {
    font-family: var(--font-courier);
  }
  60% {
    font-family: var(--font-dancing-script);
  }
  80% {
    font-family: var(--font-poppins);
  }
  100% {
    font-family: var(--font-caveat);
  }
}
