@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  scroll-behavior: smooth;
}


.change-font {
  color: #eb3486;
  animation-name: fontChange;
  animation-duration: 2s;
  animation-iteration-count: initial;
}

.svg-color {
  fill: #b3afaf;
}

.svg-color:hover{
  fill: white;
  transition: fill cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out;
}
.header-div {
  position: sticky !important;
}

@keyframes fontChange {
  0% {
    font-family: 'Major Mono Display', monospace;
  }
  20% {
    font-family: 'Kaushan Script', cursive;
  }
  40% {
    font-family: 'Lobster', cursive;
  }
  60% {
    font-family: 'Ranchers', cursive;
  }
  80% {
    font-family: 'Bitter', serif;
  }
  100% {
    font-family: 'Major Mono Display', monospace;
  }
}